.header {
  display: flex;
  justify-content: center; 
  position: fixed;
  padding: 24px 24px 0 24px;
  top: 0;
  background-color: #FFF;
  z-index: 1000;
  width: 100%;
  justify-content: space-evenly;
  place-items: center center;
  border-bottom: 2px solid #EFF5FB;
  padding-bottom: 20px;
}

.header__menu{
  margin:0 auto;
}
.header__menu__item{
  text-wrap: nowrap;
}

.header__logo {
  width: 48px;
}

.header__list {
  font-size:14px;
  display: flex;
  gap: 30px;
}

.link {
  color: black;
  text-decoration: none;
}

.header__link {
  text-wrap: nowrap;
  text-decoration: none;
}

.header__link:hover {
  text-decoration: underline;
  color: #333;
}

.header__btn-expand-text {
  background: transparent;
  border: none;
  cursor: pointer;
}

.header__burger-menu {
  display:block;
  visibility: hidden;
}

.header-line {
  border: none;
  background-color: #EFF2F2;
  height: 2px;
}
