* {
  box-sizing: border-box;
  color: #333;
  
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  height:100%;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
}


.content{
  margin:0 auto;
  padding-top:50px;
}
.body__background {
  z-index: -1;
  top: 400px;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed; /* фиксируем фон */
  object-fit: cover;
}

/* Футер всегда внизу */
.footer {
  background-color: #2963A3;
  width: 100%;
  position: relative;
  bottom: 0;
}

/* Media Queries для адаптации */
@media (max-width: 768px) {
  .body__background {
    object-fit: cover;
  }
}