.footer{
  width:100vw;
}

.footer__other{
  display: flex;
  gap: 48px;
  color: rgba(255, 255, 255, 0.700);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  justify-content: center;
} 

.footer__conditions{
  color:#ffffff92;
  font-size:12px;
  font-weight: 400;
  line-height: 17px;
}

.footer__email-wrapper{
  width:490px;
}

.footer__info{
  color:white;
  font-size:18px;
  font-weight: 700;
  width:356px;
}

.footer__email-main-container{
  display:grid;
  gap: 8px;
}

.footer__input{
  width:384px;
  height:48px;
  padding-bottom:10px;
}

.footer__input-field{
  width:320px;
  height:46px;
  border-radius: 4px;
  border:none;
  color: #9D9D9D;
  cursor: pointer;
  outline: none;
}

.footer__input-part{
  position: relative;
  width:64px;
  height:46px;
  background-color: #16C8BB;
  border:none;
  border-radius: 4px;
  left:83%;
  bottom:120%;
  cursor: pointer;
}

.footer__click{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer__item{
  color:white;
  font-weight: 600;
}

.footer__item:hover{
  color:#dbdbdb;
  cursor:pointer;
}

.footer__layout{
  padding-right: 120px;
  padding-left:120px;
  padding-bottom:20px;
  padding-top: 40px;
  justify-content: center;
  flex:1;
  display: flex;
  border-bottom:1px solid #9d9d9d32;
}

.footer__main-container{
  padding-top:30px;
  width:486px;
  gap:8px;
  display:grid;
}

.footer__nav-container{
  display:grid;
  gap:16px;
  padding-right: 93px;
}

.footer__nav-wrapper{
  display:inline-flex;
}

.footer__other{
  padding-right:93px;
  padding-left:120px;
}

.footer__copyright,
.footer__documents,
.footer__pay{
  color:rgb(221, 221, 221);
  margin:16px 0;
  font-weight: 400;
}

.footer__documents:hover,
.footer__pay:hover{
  color:white;
  cursor:pointer;
}

.footer__social{
  display:grid;
  grid-template-columns: 32px 32px 32px 32px;
  gap: 8px;
  padding-top:30px;
}