.breadcrumb{
  margin-top:100px;
}

.breadcrumb__item {
  list-style: none;
  color: #333333B2;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  gap: 4px;
  align-items: center;
}

.breadcrumb li+li::before {
  content: url(/youtalk_css/svg/Arrow\ \(1\).svg);
  text-align: center;
  align-items: center;
}

.breadcrumb__item:nth-of-type(even) {
  margin-left: 8px;
}

.breadcrumb > ul {
  display: flex;
  padding: 0;
  margin: 0;
}

.breadcrumb{
  margin-left:10px;
}

.link:hover{
  text-decoration: underline;
  color:#333;
  cursor:pointer;
}

.button_primary{
  background-color: #E3F5F5;
  color: #03B2A5;
}

.button_secondary {
  background-color: #35B3A9;
  color: #fff;
  justify-content: center;
  margin: 0 auto;
  display: flex;
  margin-top: 56px;
  margin-bottom: 96px;
}

.button{
  cursor: pointer;
  outline: none;
  border-radius: 4px;
  padding: 14px 20px;
  font-size: 16px;
  border: none;
  font-weight: bold;
  min-width: 200px;
  height:48px;
}


.article__transparent-button,
.first_button,
.second_button{ /*button*/
  
  height:32px;
  background-color: rgba(255, 255, 255, 0.685);
  border:none;
  border-radius:24px;
  position: absolute;
  left:8px;
  top:7px;
  font-weight: 600;
  padding: 6px 8px;
  font-size:14px;
}

.second_button{
  top: 48px;
}

.article__transparent-button:hover{
  cursor:pointer;
  background:rgba(228, 227, 227, 0.703);
}

.transparent-button,
.emoji{
  vertical-align: middle;
  object-fit: cover;
  width: 19px;
  height: 18px;
}

.articles-filter{
  display:flex;
  gap:8px;
  margin-bottom:32px;
  margin-top: 20px;
  overflow-x:auto;
  scrollbar-width: none;
  flex-wrap: wrap;
  
}

.articles-filter__item{
  border: 2px solid #C1C5CD;
  padding:6px 8px;
  border-radius: 24px;
  gap:4px;
  font-size: 14px;
  font-weight:600;
  font-size: 14px;
  flex-wrap: nowrap;
  white-space: nowrap;
  background-color: white;
}

.articles-filter__item:hover{
  border:2px solid #16C8BB;
  cursor:pointer;
}

.all-articles{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 24px;
  margin-top: 32px;
}

.article{
  position:relative;
}

.article__link{
  text-decoration: none;
}

.article__pointer{
  cursor:pointer;
}

.article__container {
  display: grid;
  grid-template-columns: repeat(3, 384px);
  gap: 24px;
  margin-top: 24px;
}

.article__main-container{
  display:grid;
  column-gap: 24px;
  grid-template-columns: repeat(2,588px);
}

.article__main-first,
.article__main-second {
  width: 100%;
  height: 500px;
}

.article__pointer{
  text-decoration: none;
  border: 1px solid #C1C5CD;
  border-radius: 18px;
  background-color: #FFF;
}

.article__pointer:hover{
  border: 1px solid #16C8BB;
}

.article__author {
  font-size: 12px;
  font-weight: 400;
}

.article__body {
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  padding-left:10px;
  height: 48%;
  display: flex;
  gap:5px;
  padding: 16px;
  flex-direction: column;
}

.article__header {
  line-height:25px;
  font-weight: bold;
  font-size:18px;
}

.article__date {
  font-size:12px;
  color:rgb(150, 150, 150);
  position: absolute;
  bottom: 10px;
}

.article__description {
  font-size:14px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 40px;
  line-height:20px;
}

.article__author,
.article__header{
  margin:0;
  margin-bottom:8px;
}

.article__image {
  width: 100%;
  height: 50%;
  object-fit: cover;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.title-of-the-page {
  font-size: 36px;
  margin-top: 20px;
}



