
body {
  font-family: Montserrat;
  color: #333;
}


.hero{
  width:690px;
  margin:0 auto;
}
.flex-container{
  display:flex;
  flex-direction: row-reverse;
  min-height: 100vh;
}

aside{
  margin-right:100px;
}

.main__aside {
  display:block;
  float:right; 
  width: 282px;
  gap: 24px;
  margin-top: 160px;
}

.center__page {
  margin-top: 14px;
  padding: 0 20px 0 20px;
  margin:0 auto;
  display: flex;
  flex-direction: row;
}

.hero__breadcrumb {
  margin-top: 100px;
}

.hero__breadcrumb-item {
  list-style: none;
  color: #333333B2;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  gap: 4px;
  align-items: center;
}

.hero__breadcrumb li+li::before {
  content: url(/youtalk_css/svg/Arrow\ \(1\).svg);
  text-align: center;
  align-items: center;
}

.hero__breadcrumb-item:nth-of-type(even) {
  margin-left: 8px;
}

.hero__breadcrumb>ul {
  display: flex;
  padding: 0;
  margin: 0;
}

.link:hover {
  text-decoration: underline;
  color: #333;
  cursor: pointer;
}

.button_primary {
  background-color: #E3F5F5;
  color: #03B2A5;
}

.button {
  cursor: pointer;
  outline: none;
  border-radius: 4px;
  padding: 14px 20px;
  font-size: 16px;
  border: none;
  font-weight: bold;
  min-width: 200px;
  height: 48px;
}

.hero__h1 {
  line-height: 35px;
  font-size: 35px;
}

.hero__article-author,
.hero__article-date {
  margin: 0;
  display: inline-flex;
}

.hero__article-image {
  margin-top: 24px;
  display: block;
  width: 690px;
  height: 331px;
  object-fit: cover;
}

.hero__h3 {
  font-size: 24px;
  font-weight: bold;
  margin: 24px 0;
}

.hero__h4 {
  margin: 24px 0;
  font-weight: 800;
  font-size: 16px;
}

.hero__text,
.hero__item {
  font-size: 16px;
}

.hero__link {
  color: #2963A3;
  line-height: 20px;
  text-decoration: none;
}

.hero__link_about-article {
  color: #333;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-decoration-line: underline;
}

.hero__text {
  line-height: 23px;
  margin: 0;
  margin-bottom: 24px;
}

.hero__item {
  line-height: 25px;
}

.hero__dot::before {
  content: '\2022';
  color: #03B2A5;
  font-size: 35px;
  position: relative;
  top: 8px;
  right: 8px;
  display: inline-block;
}

.hero__item-stepped li:nth-child(1) {
  margin-left: 36px;
}

.hero__item-stepped li:nth-child(2) {
  margin-left: 42px;
}

.hero__item-stepped li:nth-child(3) {
  margin-left: 48px;
}

.hero__quotes {
  position: absolute;
  z-index: -1;
}

.hero__quote {
  font-style: italic;
  display: flex;
  justify-content: center;

}

.hero__author-quote {
  height: 162px;
  margin: 24px 0;
  position: relative;
}

.hero__quotes-decoration {
  z-index: -1;
  position: absolute;
  left: 220px;
  top: -5px;
}

.hero__text-align {
  width: 642px;
  text-align: left;
  padding: 24px;
}

.hero__text_bold {
  margin: 0;
  font-weight: bold;
}

.hero__sub-text {
  color: #868686;
  margin-top: 16px;
  margin-bottom: 24px;
  font-size: 14px;
}

.hero__blog {
  display: flex;
  gap: 24px;
}

.hero__blog-img {
  margin-bottom: 24px;
}

.hero__blog_column {
  flex-flow: column;
}

.hero__margin {
  margin-bottom: 0;
}

.hero__exercise {
  border-radius: 16px;
  background: #FEFAEC;
  padding: 24px;
  margin-bottom: 24px;
}

.hero__exercise_background-orange-white {
  background: #FFF3EB;
}

.hero__exercise_background-mint-green {
  background: rgba(3, 178, 165, 0.10);
}

.hero__list_flex li+li::before {
  content: '.';
  position: relative;
  bottom: 4px;
  right: 3.5px;
}

.hero__list_margin {
  margin-top: 24px;
  margin-bottom: 48px;
}

.hero__item {
  font-size: 14px;
  gap: 4px;
}

.hero__list_flex {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
}

.hero__section {
  margin-bottom: 25px;
  position:relative;
}

.hero__paragraph-break {
  margin:-15px;
  position: absolute;
  left:38%;
}

.main__btn {
  width: 234px;
  padding: 12px 16px;
  background: #35B3A9;
  color: #FFF;
  line-height: 24px;
  border-radius: 4px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  border: none;
  cursor: pointer;
}

.main__small-btn{
  max-width:108px;
  padding: 12px 16px;
  background: #35B3A9;
  color: #FFF;
  line-height: 24px;
  border-radius: 4px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  
}

.main__price {
  font-size: 24px;
  font-weight: bold;
  margin: 16px 0;
}

.main__h3 {
  text-align: center;
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  margin-bottom:5px;
}

.main__h3_margin-top {
  margin-top: 24px;
}

.main__h4 {
  text-align: center;
  font-size: 18px;
  margin-bottom:5px;
}

.main__text {
  text-align:center;
  padding-left:15px;
  margin-top: 8px;
  margin-bottom: 24px;
  font-size: 14px;
  line-height: 20px;
}

.main__container-aside-card{
  text-align:center;

}

.main__container-aside-card p+p::before {
  content: '\2022';
  padding-right: 8px;
  top: -3px;
}

.main__sub-text {
  display: inline-flex;
  color: rgba(174, 174, 174, 0.852);
  font-size: 14px;
  margin-bottom:16px;
}

.main__card {
  border-radius: 16px;
  background-color: rgba(230, 240, 253, 1);
  padding: 24px;
}

.main__card-2 {
  height:500px;
  margin: 24px 0;
  border-radius: 16px;
  padding: 24px;
  border: 1px solid rgba(222, 222, 222, 1);
  box-sizing: border-box;
}

.main__container-text-message-psychologist {
  position: relative;
}

.main__text-message-psychologist {
  display: flex;
  align-items: center;
  position: absolute;
  margin-bottom: 8px;
  background: rgba(243, 244, 248, 0.70);
  border-radius: 6px;
  padding: 0px 6px;
  width: 115px;
  height: 24px;
}

.main__container-text-message-psychologist_first {
  width:120px;
}

.main__container-text-message-psychologist_second {
  top: 30px;
  width: 78px;
}

.main_h3-2 {
  text-wrap: nowrap;
  font-size:18px;
  padding-top: 16px;
  border-top: 1px solid rgba(206, 206, 206, 0.852);
}


.main__card-3 {
  width: 100%;
  height:100%;
  background-size: cover;
}

.main__card-4 {
  border-radius: 16px;
  border: 1px solid rgba(222, 222, 222, 1);
  margin-top: 42px;
  padding: 32px;
  position: relative;
  overflow: hidden;
}

.main__card-img {
  max-width: 100%;
  width: 257px;
  height: 206px;
  object-fit: cover;
  margin:0 auto;
}

.main__card-img_width {
  width: 100px;
  height: 80px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.main__card-img-block {
  display: block;
  max-width: 100%;
  height: 100%;
  
}

.main__card-img-portrait {
  width: 120px;
  height: 120px;
  display:block;
  margin:0 auto;
}

.hr{
  width:100%;
}

.main__text_margin {
  margin: 7px;
}

.main__text_margin-feedback{
  text-align: left;
  margin:24px 21px 32px 0;
}

.main__text-container {
  
  margin-top: 8px;
  margin-bottom: 19px;
}

.main__h3_color-blue {
  color: rgba(41, 99, 163, 1);
  font-size: 16px;
  text-align: left;
}

.big-size {
  font-size: 24px;
}

.main__decoration {
  position: absolute;
  top: 2480px;
  right: 0;
}

.main__h2_font-size {
  font-size: 48px;
  font-weight: bold;
}

.main__text_size {
  font-size: 18px;
}
.footer__background-image{
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 215px;
  right: 0;
  top:5320px;
}

.main__feedback {
  display: flex;
  justify-content: space-between;
  padding: 24px;
  margin: 72px 0 104px 0;
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}

.main_h3-2{
  text-wrap:wrap;
}

.main__feedback-right {
  margin-right: 150px;
}

.main__decoration_feedback {
  position: absolute;
  top: 100px;
  right: 0;
}


@media screen and (min-width: 1440px) {
  .main__decoration,
  .main__decoration_feedback {
    display: none;
  }

}

@media screen and (max-width:1441px){
  .main__feedback {
    margin-bottom: 24px;
  }
  
}



@media screen and (max-width:1210px){
  .hero {
    margin-top: 64px;
  }

  .main__decoration {
    display: none;
  }

  .main__feedback {
    display: none;
  }

  .hr{
    display:none;
  }

  .footer__background-image{
    display:none;
  }
  
  .main__card-img{
    width:174px;
    height:138px;
    display:flex;
  }
  
  .main__btn{
    width:174px;
    display:block;
    margin:0 auto;
  }

  .main__aside{
    width:222px;
  }

  .main__card-2{
    margin:0;
    height:510px;
  }

  .main__card-3{
    margin-bottom: 0px;
    height:229px;
  }

  .main__card-4{
    max-height:330px;
    margin:0;
  }

  .main__card-img-block{
    width:222px;
    height:230px;
    border-radius:16px;
    object-fit: cover;
  }

  .main__card_margin{
    margin:24px 0;
  }

  .footer__layout{
    width:960px;
    gap:20px !important;
  }

  .footer__nav-wrapper{
    gap:40px !important;
  }

}


@media screen and (max-width: 1073px) {

  .flex-container{
    flex-direction: column;
  }
  
  .center__aside{
    margin:0 auto;
  }

  .hero{
    margin-top:-80px;
  }
  
  .main__aside{
    width:690px;
    padding:0;
    margin:0;
    margin-top:120px;
    justify-content: center;
  }
  .main__text{
    font-size:17px;
  }

  .main__card-3{
    width:auto;
    height: auto;
  }

  .main__card-img-block{
    width: 100%; 
    height: auto; 
    display: block;
  }
  
  .header__menu,
  .button_primary,
  .hero__list{
    display: none;
  }

  .header__logo{
    justify-content: space-between;
  }

  .header__burger-menu{
    margin-right:40px;
    display:block !important;
  }


  .main__card{
    grid-area: main__card;
  }

  .main__card-2{
    grid-area: main__card-2;
  }

  .main__card-3{
    grid-area: main__card-3;
    width:100%;
    background-size: cover; /* Растягивает изображение, чтобы оно полностью покрывало контейнер */
    background-position: center; /* Центрирует изображение в контейнере */
    background-repeat: no-repeat;
  }

  .main__card-4{
    grid-area:main__card-4;
  }

  .main__card,
  .main__card-2,
  .main__card-3,
  .main__card-4{
    margin-bottom:0;
    margin-top:0;
  }

  .main__aside{
    padding:0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.5fr 0.5fr;
    grid-auto-flow: row;
    grid-template-areas:
      "main__card main__card-2"
      "main__card-3 main__card-4";
  }

  .footer {
    justify-content: center;
    align-items: center;
  }

  .header__burger-menu{
    visibility:visible !important;
  }

  .header{
    justify-content: space-between !important;
  }

  .header__menu,
  .button_primary {
    display: none;
  }

  .main__image{
    height:65%;
  }
  

  .footer__layout {
    max-width:728px;
  }

  .footer__nav-wrapper{
    margin-right:50px;
    justify-content: space-between;
  }

  .footer__social-media{
    text-align:left !important;
  }

  .footer__social{
    justify-content: flex-start !important;
  }
}

@media screen and (max-width: 746px) {

  .hero{
    width:374px;
  }

  .hero__breadcrumb{
    overflow:hidden;
  }

  .hero__quote{
    width:374px;
    font-size: 13px;
  }

  .hero__quote{
    font-size: 12px;
    margin-bottom:0;
  }
  .hero__author{
    font-size:13px;
    padding-top: 5px !important; 
  }

  .hero__text_bold{
    padding:0 0 10px 0;
  }
  
  .hero__section2{
    margin:20px 0;
  }

  .hero__article-image{
    width:374px;
    height:200px;
  }

  .hero__quotes{
    width:374px;
    height:230px;
  }

  .main__card-3{
    width:auto;
    height: auto;
  }

  .main__card-img-block{
    width: 100%; 
    height: auto; 
    display: block;
  }
  .main__aside{
    width:374px;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr;
    grid-auto-flow: row;
    grid-template-areas:
      "main__card"
      "main__card-2"
      "main__card-3"
      "main__card-4";
  }

  .hero__quotes-decoration{
    text-align: center;
  }

  .main__container {
    padding: 0px;
  }

  .hero__breadcrumb {
    width: 374px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .hero__h1 {
    font-size: 32px;
    line-height: 40px;
  }

  .hero__h1 br {
    display: none;
  }

  .hero__img-main {
    width: 374px;
  }

  .hero__blog-img {
    width: 374px;
    margin-bottom: 16px;
  }

  .hero__blog {
    display: block;
  }

  .hero__author-quote br {
    display: none;
  }

  .hero__quotes-decoration {
    top: 0px;
    left: 70px;
  }

  .hero__quotes{
    height:160px;
  }

  .main__card_width {
    width: 374px;
  }
  
  .main__card-img-block {
    width: 374px;

  }

  .hero__img_w-333 {
    width: 374px;
  }

  .hero__text_margin {
    margin: 16px 0 24px 0;
  }

  .hero__text-align{
    padding:20px 0 20px 5px;
  }

  .hero__paragraph-break{
    left:30%;
  }
  .margin-top__paragrath-break{
    padding-top:20px;
  }

  .hero__text_margin{
    padding-bottom:0px;
  }

  .text-align1{
    padding-left:15px;
  }

  .footer__container {
    display: flex;
    flex-direction: column;
    gap: 23px;
  }

  .footer__layout{
    max-width:374px;
  }
  
  .footer__nav-wrapper{
    margin:0;
    gap:0;
    justify-content: space-between;
  }

  .footer__btn-send {
    top: 2px;
  }

  .footer {
    justify-content: center;
    align-items: center;
  }

  .footer__other {
    flex-direction: column;
  }

  .footer__email-wrapper{
    margin-left:0px;
  }

  .footer__layout{
    width:100%;
    gap:30px;
  }

}

@media screen and (max-width: 400px) {
  .container,
  .hero,
  .main__aside{
    margin:0 auto;
  }


  .hero__author-quote{
    margin:20px 0 50px 0;
  }

  .hero__author{
    padding-left:15px;
  }

  .hero__article-image{
    width:288px;
  }

  .hero__quote{
    width:270px;
    padding:15px 15px 0 15px;
  }

  .hero__quotes{
    width:280px;
    height:200px
  }

  .hero__quotes-decoration{
    margin-bottom:15px;
  }

  .hero__text-align{
    padding:0;
  }

  .hero__text_margin{
    padding-bottom:15px;
  }
  .main__container {
    padding: 0 16px 0 16px;
  }

  .hero__breadcrumb {
    width: 288px;
  }

  .hero__img-main {
    width: 288px;
  }

  .hero__blog-img {
    width: 288px;
    margin-bottom: 16px;
  }

  .hero__quotes-decoration {
    top: 14px;
    left: 6px;
    width: 250px;
  }

  .hero__text_margin{
    margin-bottom:15px;
  }
  
  .hero__paragraph-break{
    left:20%;
    
  }
  .main__card_width {
    width: 288px;
  }

  .main__card-img-block {
    width: 288px;
  }

  .main__card-3 img {
    min-width: 288px;
    max-width: 288px;
  }

  .hero__img_w-333 {
    width: 288px;
  }
  
  .footer__container {
    display: flex;
    flex-direction: column;
    gap: 23px;
  }

  .footer__btn-send {
    top: 2px;
  }

  .footer {
    padding: 35px 20px;
    justify-content: center;
    align-items: center;
  }

  .footer__social {
    grid-template-columns: 10% 10% 10% 10%;
    gap: 30px 10px;
    position: static;
  }

  .footer__other {
    flex-flow: column;
    gap: 20px;
    justify-content: flex-start;
    align-self: start;
  }
}